<div class="container">
  <section class="hero is-small has-background-danger">
    <div class="hero-body">
        <h1 class="title has-text-white">
          Welcome to PokeNav
        </h1>
    </div>
  </section>
</div>


  <%= form_tag(login_path) do %>
  <div class="container">
  <section>
    <div class="tile is-parent">
    <div class="tile is-4 is-vertical">
      <article class="tile is-child notification is-light">
      <div class="tile">
        <strong><%= label_tag("Name") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        <%= text_field_tag("name") %>
      </div>
       </article>
       <article class="tile is-child notification is-light">
      <div class="tile">
        <strong><%= label_tag("Password") %>&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        <%= password_field_tag("password") %>
      </div>
      </article>
      </div>
    </div>
  </section>
<%= submit_tag("Login") %>
<h2> <%= link_to "Make a new trainer!", new_trainer_path %> </h2>
</div>

<br/>

<div class="container">
  <strong>LEADERBOARD</strong>

  <head>
  <style>
  table {
    border-collapse: collapse;
  }

  table, td, th {
    border: 1px solid black;
  }
  </style>
  </head>
  <table class="table">
    <thead>
      <tr>
        <th>Trainer</th>
        <th></th>
        <th>Number of Badges</th>
      </tr>
    </thead>


    <% @sorted.each do |trainer| %>
      <tr>
        <td class="is-vertical-center"><%= trainer.name %></td>
        <td><img src=<%= trainer.profile_img %> height="70" width="70"></td>
        <td><%= trainer.num_badges%></td>
      </tr>
    <% end %>

  <% end %>
</div>
