<section class="hero is-small has-background-danger	">
  <div class="hero-body">
      <h1 class="title has-text-white">
        <%= Trainer.find(current_user.id).name %>'s Pokedex
      </h1>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Pokemon</th>
      <th></th>
    </tr>
  </thead>
  <% @owned_pokemons.each do |pokemon| %>
    <tr>
      <td class="is-vertical-center"><%= pokemon.pokedex_index %></td>
      <td><%= link_to pokemon.name.capitalize, wild_pokemon_path(pokemon) %></td>
      <td><img src=<%= pokemon.img %> height="70" width="70"></td>
    </tr>
  <% end %>
</table>

<footer class="footer">
  <div class="content">
    <p>
      <%= link_to "Trainer Page", trainer_path(current_user.id) %>
    </p>
  </div>
</footer>
