
<div class="container">
  <section class="hero is-small has-background-light">
    <div class="hero-body">
        <h1 class="title has-text-black">
          Create A New Trainer
        </h1>
    </div>
  </section>

  <%= form_for @trainer do |f| %>
    <div>
      <%= f.label :name %>
      <div class="control">
          <input class="input" type=<%= f.text_field :name %>
      </div>
    </div>
    <div>
      <%= f.label :bio %>
      <div class="control">
          <input class="input" type=<%= f.text_field :bio %>
      </div>
    </div>
    <div>
      <%= f.label :password %>
      <div class="control">
          <%= f.password_field :password, class: "input" %>
      </div>
    </div>
    <div class="section">
      <%= f.label "Select your profile image" %>
      <%= f.select :profile_img, ['Brendan', 'May', 'Birch']%>
    </div>



    <div>
      <img src="https://archives.bulbagarden.net/media/upload/e/e6/Spr_E_Brendan.png">
      <img src="https://archives.bulbagarden.net/media/upload/a/a4/Spr_E_May.png">
      <img src="https://archives.bulbagarden.net/media/upload/7/75/Spr_RS_Birch.png">
    </div>

    <div class="section">
      <%= f.submit %>
    </div>
  <% end %>
</div>
