<body>
  <div class="container">
    <section class="hero is-small has-background-light">
      <div class="hero-body">
          <h1 class="title has-text-black">
            Pokemon Trainer <%= @trainer.name %>
          </h1>
      </div>
    </section>

<div class="container">
  <section>
   <nav class="navbar">
     <div class="navbar-left">
       <div class="navbar-item">
         <div class="buttons">
           <a href="/owned_pokemons/new" class="button is-success">
             <strong>Catch Pokemon</strong>
           </a>
         </div>
       </div>
     </div>

     <nav class="navbar">
         <div class="navbar-item">
           <div class="buttons">
             <a class="button is-warning">
               <strong>Challenge Gym</strong>
             </a>
           </div>
       </div>

     <div class="navbar">
       <div class="navbar-item">
         <div class="buttons">
           <a href="/owned_pokemons/" class="button is-info">
             <strong>See <%= @trainer.name %>'s Pokedex</strong>
           </a>
         </div>
       </div>
     </div>

     <div class="navbar-end">
       <div class="navbar-item">
         <div class="buttons">
           <a class="button is-light">
             <%= link_to "Log Out", logout_path, method: :delete%>
           </a>
          </div>
        </div>
     </div>
   </nav>
  </section>
  </div>


  <div class="container">
    <section>
      <div class="columns">
       <div class="column is-3">
         <strong>Trainer Bio: </strong>
         <%= @trainer.bio %>
       </div>
       <div class="column">
         <img src="<%= @trainer.profile_img %>">
       </div>
     </div>
    </section>
  </div>


  <footer class="footer">
   <% @trainer.num_badges.times do |i| %>
     <img src="<%= Gym.find(i+1).badge_img %>">
   <% end %>
  </footer>

  </div>
</body>
